In [ ]:
import pandas as pd

In [ ]:
!wget  -O 'data_3_course.xlsx' -q 'https://www.dropbox.com/s/ysxs5srafoyxknb/_data_3_course.xlsx?dl=1'

In [ ]:
!ls

data_3_course.xlsx	german_credit_data_with_risk.csv
german_credit_data.csv	sample_data

In [ ]:

data = pd.read_excel('data_3_course.xlsx') # Можно читать проприетарный xlsx!

In [ ]:
data # первичное представление о данных

                  Timestamp  ... Вы заполняете анкету в первый раз?
0   2020-05-15 01:12:50.543  ...                                 Да
1   2020-05-15 02:46:48.066  ...                                Нет
2   2020-05-15 03:12:41.480  ...                                 Да
3   2020-05-15 04:43:08.994  ...                                 Да
4   2020-05-15 07:47:17.197  ...                                 Да
..                      ...  ...                                ...
218 2020-05-20 11:49:38.801  ...                                 Да
219 2020-05-20 11:57:07.326  ...                                 Да
220 2020-05-21 16:33:15.899  ...                                 Да
221 2020-05-24 01:21:31.946  ...                                Нет
222 2020-05-19 04:24:29.000  ...                                NaN

[223 rows x 12 columns]

In [ ]:
!wget -O 'german-credit-data.csv' -q 'https://www.kaggle.com/uciml/german-credit/download'

In [ ]:
!ls

In [ ]:
rm german-credit-data.csv

In [ ]:
ls

In [ ]:
!wget https://raw.githubusercontent.com/PersDep/german-credit-data/main/german_credit_data.csv

In [ ]:
!wget https://raw.githubusercontent.com/PersDep/german-credit-data/main/german_credit_data_with_risk.csv

In [ ]:
ls

In [ ]:
df_credit = pd.read_csv('german_credit_data_with_risk.csv', index_col=0)

In [ ]:
df_credit.info() # обобщенное представление о данных

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1000 non-null   int64
 1   Sex               1000 non-null   object
 2   Job               1000 non-null   int64
 3   Housing           1000 non-null   object
 4   Saving accounts   817 non-null    object
 5   Checking account  606 non-null    object
 6   Credit amount     1000 non-null   int64
 7   Duration          1000 non-null   int64
 8   Purpose           1000 non-null   object
 9   Risk              1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 85.9+ KB

In [ ]:
df_credit.head()

   Age     Sex  Job Housing  ... Credit amount Duration              Purpose  Risk
0   67    male    2     own  ...          1169        6             radio/TV  good
1   22  female    2     own  ...          5951       48             radio/TV   bad
2   49    male    1     own  ...          2096       12            education  good
3   45    male    2    free  ...          7882       42  furniture/equipment  good
4   53    male    2    free  ...          4870       24                  car   bad

[5 rows x 10 columns]

In [ ]:
df_credit.shape # строки, столбцы

(1000, 10)

In [ ]:
df_credit['Risk'].describe() # описываем столбцы

count     1000
unique       2
top       good
freq       700
Name: Risk, dtype: object

In [ ]:
df_credit.describe() # и проводим численный анализ по численным столбцам

               Age          Job  Credit amount     Duration
count  1000.000000  1000.000000    1000.000000  1000.000000
mean     35.546000     1.904000    3271.258000    20.903000
std      11.375469     0.653614    2822.736876    12.058814
min      19.000000     0.000000     250.000000     4.000000
25%      27.000000     2.000000    1365.500000    12.000000
50%      33.000000     2.000000    2319.500000    18.000000
75%      42.000000     2.000000    3972.250000    24.000000
max      75.000000     3.000000   18424.000000    72.000000

In [35]:
df_credit.nunique() # узнаём вариацию значений

Age                  53
Sex                   2
Job                   4
Housing               3
Saving accounts       4
Checking account      3
Credit amount       921
Duration             33
Purpose               8
Risk                  2
dtype: int64